@model secret_adventure.Models.ViewModel.AmbienteViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Criar Ambiente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AmbienteViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Linhas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Linhas)
                @Html.ValidationMessageFor(model => model.Linhas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Colunas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Colunas)
                @Html.ValidationMessageFor(model => model.Colunas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroMosquitos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroMosquitos)
                @Html.ValidationMessageFor(model => model.NumeroMosquitos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroPessoas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroPessoas)
                @Html.ValidationMessageFor(model => model.NumeroPessoas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroAgentes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroAgentes)
                @Html.ValidationMessageFor(model => model.NumeroAgentes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vai!" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
